/**/
body{
	font-family: helvetica, Arial, sans-serif;
	font-size:11px;
	margin:0;
}
	
	.left{ float:left}
	.leaf{ display:none; }
	.configcheckbox {height: 70px}
	.textcheckbox { margin:2px 10px 0 2px; color:#333;}
	.clear{ clear: both }
	
	
#content{
	width: 200px;
	min-height:50px;
	margin-bottom:5px;
	box-shadow:3px 1px 4px #bbb;
}

#tabbar{
	
	background: #ddd url('resources/tabbackground.png');
	width:198px;
	height:35px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border:1px solid #ddd;
}

	#tabbar > div{
		padding:5px 10px 5px 10px;
		float:left;
		margin:10px 2px 0 0;
		background:#f7f7f7;
		border:1px solid #ddd;
		border-bottom:none;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		color: #666;
		font-family:Helvetica, Arial, sans-serif;
		font-weight:bold;
	}
	
	#tabbar > div.selected{
		padding:5px 10px 5px 10px;
		float:left;
		margin:11px 2px 0 0;
		background:white;
		border:1px solid #ddd;
		border-bottom:none;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		color: #3373ED;
		font-family:Helvetica, Arial, sans-serif;
		font-weight:bold;
	}
	
	#tabbar > div:hover{
		cursor:pointer;
	}

	#tabcontent{
		border:1px solid #ddd;
		border-top: none;
		width:178px;
		padding:10px;
	}

	
#alert-container{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding:10px;
	display: none;
	padding-bottom:0;
}	

#alert{
	border: 1px solid indianRed;
	padding: 5px;
	border-radius: 2px;
	font-family: Helvetica, Arial, sans-serif;
	color: #444;
	background:url('resources/alert.png') no-repeat 2px center;
	padding-left:20px;
	background-color:mistyRose;
}
	
.row{

}

.pack{
	border:1px solid #ddd;
	margin-bottom:5px;
}

.customizedpack{
	max-height:370px;
	overflow:auto;
}

#words-input{
	border:1px solid #ddd;
	margin-bottom:4px;
	height:21px;
	position:relative;
}

.inputicon{
	position:absolute;
	right:3px;
	top: 3px;
}

#content img{
	cursor:pointer;
}

#words-input input {
	margin:0;
	width:150px;
	border:0;
	font-size:11px;
	font-family: Helvetica, Arial, sans-serif;
	color: #444;
	padding:3px;
}

.pack-header{
	/*background: #f6f6f6 url('resources/packheaderbackground.png');*/
	background: #eee;
	height:16px;
	padding:3px 3px 6px 3px;
	color:#d20;
	font-weight: bold;
}

.pack-content{
	padding:3px;
	display:block;
}

.pack-content ul{
	list-style: none;
	margin:0;
	padding:0;
}

.pack-content ul li{
	padding: 3px 0 3px 4px;
	border-bottom: 1px dotted #ccc;
	position: relative;
	color:#333;
}

.pack-content ul li:hover{
	background:#eee;
	font-weight: bold;
}

.pack-content ul li:last-child{
	border-bottom: none;
}

.pack-content ul li img{
	position: absolute;
	right: 3px;
}



.arrowicon{
	float:right;
	margin:4px;
}

#footer{
	background: #ddd url('resources/tabbackground.png');
	padding: 5px;
	border-radius: 7px;
	color: #3373ED;
	font-family: helvetica, Arial, sans-serif;
	font-size: 9px;
	text-align: right;
	border:1px solid #ddd;
}

#creator {
	float:left; 
	position:relative; 
	width:110px; 
	text-align:left;
	font-weight: bold;
}

#creator a{
	color:inherit;
	text-decoration:none;
}

#creator img{
	position: absolute;
	right:0;
}

input[type="checkbox"]{
	border:1px solid #3373ED;
}

.nobbb_uol_blocker, .nobbb_portal_blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #F0E68C;
}

